.back-top {
    z-index: 10;
    position: fixed;
    cursor: pointer;
    display: none
}
.back-top.back-top-show{
    display: block
}

.back-top-inner {
    background-color: rgba(0,0,0,.3);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    transition: all .2s ease-in-out
}

.back-top-inner:hover {
    background-color: rgba(0,0,0,.7)
}

.back-top i {
    color: #fff;
    font-size: 24px;
    padding: 8px 12px
}