.el-icon-arrow-down:before { content: "\e600"; }
.el-icon-arrow-left:before { content: "\e601"; }
.el-icon-arrow-right:before { content: "\e602"; }
.el-icon-arrow-up:before { content: "\e603"; }
.el-icon-caret-bottom:before { content: "\e604"; }
.el-icon-caret-left:before { content: "\e605"; }
.el-icon-caret-right:before { content: "\e606"; }
.el-icon-caret-top:before { content: "\e607"; }
.el-icon-check:before { content: "\e608"; }
.el-icon-circle-check:before { content: "\e609"; }
.el-icon-circle-close:before { content: "\e60a"; }
.el-icon-circle-cross:before { content: "\e60b"; }
.el-icon-close:before { content: "\e60c"; }
.el-icon-upload:before { content: "\e60d"; }
.el-icon-d-arrow-left:before { content: "\e60e"; }
.el-icon-d-arrow-right:before { content: "\e60f"; }
.el-icon-d-caret:before { content: "\e610"; }
.el-icon-date:before { content: "\e611"; }
.el-icon-delete:before { content: "\e612"; }
.el-icon-document:before { content: "\e613"; }
.el-icon-edit:before { content: "\e614"; }
.el-icon-information:before { content: "\e615"; }
.el-icon-loading:before { content: "\e616"; }
.el-icon-menu:before { content: "\e617"; }
.el-icon-message:before { content: "\e618"; }
.el-icon-minus:before { content: "\e619"; }
.el-icon-more:before { content: "\e61a"; }
.el-icon-picture:before { content: "\e61b"; }
.el-icon-plus:before { content: "\e61c"; }
.el-icon-search:before { content: "\e61d"; }
.el-icon-setting:before { content: "\e61e"; }
.el-icon-share:before { content: "\e61f"; }
.el-icon-star-off:before { content: "\e620"; }
.el-icon-star-on:before { content: "\e621"; }
.el-icon-time:before { content: "\e622"; }
.el-icon-warning:before { content: "\e623"; }
.el-icon-delete2:before { content: "\e624"; }
.el-icon-upload2:before { content: "\e627"; }
.el-icon-view:before { content: "\e626"; }

.el-icon-circle-plus:before { content: "\E628"; }

.el-icon-prohibit:before { content: "\E629"; }

.el-icon-circle-hook:before { content: "\E62A"; }

.el-icon-circle-rmb:before { content: "\E62B"; }

.el-icon-circ-cross:before { content: "\E62C"; }

.el-icon-more-date:before { content: "\E62E"; }

.el-icon-circle-l-arrow:before { content: "\E62F"; }

.el-icon-circle-b-angle:before { content: "\E630"; }

.el-icon-note-pad:before { content: "\E631"; }

.el-icon-vwedit:before { content: "\E632"; }

.el-icon-id-card:before { content: "\E633"; }

.el-icon-printer:before { content: "\E634"; }

.el-icon-unpack:before { content: "\E635"; }

.el-icon-destroy:before { content: "\E636"; }

.el-icon-circle-minus:before { content: "\E637"; }

.el-icon-te-yue:before { content: "\E638"; }

.el-icon-ty-bx:before { content: "\E639"; }

.el-icon-camera:before { content: "\E63A"; }

.el-icon-setting1:before { content: "\E63B"; }

.el-icon-note-list:before { content: "\E63C"; }

.el-icon-circle-quit:before { content: "\E63D"; }

.el-icon-quit:before { content: "\E63E"; }

.el-icon-save:before { content: "\E63F"; }

.el-icon-data-calc:before { content: "\E640"; }

.el-icon-copy:before { content: "\E641"; }

.el-icon-save-time:before { content: "\E642"; }

.el-icon-user-info:before { content: "\E643"; }

.el-icon-home:before { content: "\E644"; }

.el-icon-lock:before { content: "\E645"; }

.el-icon-circle-r-angle:before { content: "\E646"; }

.el-icon-list-paper:before { content: "\E647"; }

.el-icon-pencil:before { content: "\E648"; }

.el-icon-swap:before { content: "\E649"; }

.el-icon-out-in:before { content: "\E64A"; }

.el-icon-in-out:before { content: "\E64B"; }

.el-icon-somebody:before { content: "\E64C"; }

.el-icon-overlying:before { content: "\E64D"; }

.el-icon-eye:before { content: "\E64E"; }

.el-icon-line-l-arrow:before { content: "\E64F"; }

.el-icon-line-r-arrow:before { content: "\E650"; }

.el-icon-cirecle-t-angle:before { content: "\E651"; }

.el-icon-db-arrow:before { content: "\E652"; }

.el-icon-dt-arrow:before { content: "\E653"; }

.el-icon-plus-edit:before { content: "\E654"; }

.el-icon-go-come:before { content: "\E655"; }

.el-icon-paper-key:before { content: "\E656"; }

.el-icon-rotate-swap:before { content: "\E657"; }

.el-icon-circle-b-arrow:before { content: "\E658"; }

.el-icon-circle-r-arrow:before { content: "\E659"; }

.el-icon-circle-t-arrow:before { content: "\E65A"; }

.el-icon-zoom-plus:before { content: "\E626"; }

.el-icon-zoom-minus:before { content: "\E65B"; }

.el-icon-note-set:before { content: "\E65C"; }

.el-icon-more-fun:before { content: "\E65D"; }

.el-icon-list-out:before { content: "\E65E"; }

.el-icon-export:before { content: "\E65F"; }

.el-icon-import:before { content: "\E660"; }

.el-icon-paper-plane:before { content: "\E661"; }

.el-icon-direct-arrow:before { content: "\E662"; }

.el-icon-certificate:before { content: "\E663"; }

.el-icon-note-item:before { content: "\E664"; }

.el-icon-organ:before { content: "\E665"; }

.el-icon-swap-rmb:before { content: "\E666"; }

.el-icon-options:before { content: "\E667"; }

.el-icon-related:before { content: "\E668"; }

.el-icon-l-related:before { content: "\E669"; }

.el-icon-horn:before { content: "\E66A"; }

.el-icon-rect-arrow:before { content: "\E66B"; }

.el-icon-circle-arrow:before { content: "\E66C"; }

.el-icon-paste:before { content: "\E66D"; }

.el-icon-cirline-box:before { content: "\E66E"; }

.el-icon-four-pie:before { content: "\E66F"; }

.el-icon-cirow0-up:before { content: "\E670"; }

.el-icon-cirow0-down:before { content: "\E671"; }

.el-icon-cirow0-right:before { content: "\E672"; }

.el-icon-cirow0-left:before { content: "\E673"; }

.el-icon-date-edit:before { content: "\E674"; }

.el-icon-circh-up-down:before { content: "\E675"; }

.el-icon-rect-indown:before { content: "\E676"; }

.el-icon-nine-rbox:before { content: "\E677"; }

.el-icon-pint-down:before { content: "\E678"; }

.el-icon-note-lock:before { content: "\E679"; }

.el-icon-holddown-lock:before { content: "\E67A"; }

.el-icon-pack-lock:before { content: "\E67B"; }

.el-icon-lock-off:before { content: "\E67C"; }

.el-icon-power:before { content: "\E67D"; }

.el-icon-book-up:before { content: "\E67E"; }

.el-icon-pice-bag:before { content: "\E67F"; }

.el-icon-curve-2arrow:before { content: "\E680"; }

.el-icon-medical-org:before { content: "\E681"; }

.el-icon-fixed-pos:before { content: "\E682"; }

.el-icon-cir-caution:before { content: "\E683"; }

.el-icon-notes-box:before { content: "\E684"; }

.el-icon-cirin-pie:before { content: "\E685"; }

.el-icon-single-paper:before { content: "\E686"; }

.el-icon-paper-time:before { content: "\E687"; }

.el-icon-rect-uparrow:before { content: "\E688"; }

.el-icon-struc-tree:before { content: "\E689"; }

.el-icon-paper-sett:before { content: "\E68A"; }

.el-icon-paper-iadd:before { content: "\E68B"; }

.el-icon-car-back:before { content: "\E68C"; }

.el-icon-2nail-paper:before { content: "\E68D"; }

.el-icon-fourpie-sub:before { content: "\E68E"; }

.el-icon-rectman-card:before { content: "\E68F"; }

.el-icon-fourpie2-sub:before { content: "\E690"; }

.el-icon-rect-search:before { content: "\E691"; }

.el-icon-tele-receiver:before { content: "\E692"; }

.el-icon-idea-light:before { content: "\E693"; }

.el-icon-hammer:before { content: "\E694"; }

.el-icon-sevopen-box:before { content: "\E695"; }

.el-icon-cirblack-body:before { content: "\E696"; }

.el-icon-quasi-heart:before { content: "\E697"; }

.el-icon-cir-clock:before { content: "\E698"; }

.el-icon-hand-aw-right:before { content: "\E699"; }

.el-icon-msg-tips:before { content: "\E69A"; }

.el-icon-rect-place:before { content: "\E69B"; }

.el-icon-img-max:before { content: "\E69C"; }

.el-icon-cir-sun:before { content: "\E69D"; }

.el-icon-rect-rotate:before { content: "\E69E"; }

.el-icon-holddown:before { content: "\E69F"; }

.el-icon-percent:before { content: "\E6A0"; }

.el-icon-permillage:before { content: "\E6A1"; }

.el-icon-angle-check:before { content: "\E6A2"; }

.el-icon-filter:before { content: "\E6A3"; }

.el-icon-exchange:before { content: "\E6A4"; }

.el-icon-list-minus:before { content: "\E6A5"; }

.el-icon-list-forbid:before { content: "\E6A6"; }

.el-icon-paper-minus:before { content: "\E6A7"; }

.el-icon-paper-forbid:before { content: "\E6A8"; }

.el-icon-paper-list:before { content: "\E6A9"; }

.el-icon-paper-del:before { content: "\E6AA"; }

.el-icon-check-del:before { content: "\E6AB"; }

.el-icon-circle:before { content: "\E6AC"; }

.el-icon-double-rect:before { content: "\E6AD"; }

.el-icon-circ-timer:before { content: "\E6AE"; }

.el-icon-unlock:before { content: "\E6AF"; }

.el-icon-circ-rmb:before { content: "\E6B0"; }

.el-icon-note-check:before { content: "\E6B1"; }

.el-icon-user-sett:before { content: "\E6B2"; }

.el-icon-4line-note:before { content: "\E6B3"; }

.el-icon-shield:before { content: "\E6B4"; }

.el-icon-note-calc:before { content: "\E6B5"; }

.el-icon-note-equal:before { content: "\E6B6"; }

.el-icon-toolbox:before { content: "\E6B7"; }

.el-icon-rmb-cirline:before { content: "\E6B8"; }

.el-icon-inleft-arrow:before { content: "\E6B9"; }

.el-icon-tooth-wheel:before { content: "\E6BA"; }

.el-icon-three-stack:before { content: "\E6BB"; }

.el-icon-buttcover:before { content: "\E6BC"; }

.el-icon-umbrella:before { content: "\E6BD"; }

.el-icon-bowknot:before { content: "\E6BE"; }

.el-icon-descend-line:before { content: "\E6BF"; }

.el-icon-note-catalog:before { content: "\E6C0"; }

.el-icon-note-write:before { content: "\E6C1"; }

.el-icon-umbrella-list:before { content: "\E6C2"; }

.el-icon-thin-link:before { content: "\E6C3"; }

.el-icon-thin-wnote:before { content: "\E6C4"; }

.el-icon-thin-rinbox:before { content: "\E6C5"; }

.el-icon-thin-swap:before { content: "\E6C6"; }

.el-icon-thin-sarrow:before { content: "\E6C7"; }

.el-icon-thin-twright:before { content: "\E6C8"; }

.el-icon-thin-utool:before { content: "\E6C9"; }

.el-icon-eat-rect:before { content: "\E6CA"; }

.el-icon-shield-man:before { content: "\E6CB"; }

.el-icon-bold-umbrella:before { content: "\E6CC"; }

.el-icon-steamship:before { content: "\E6CD"; }

.el-icon-scan-code:before { content: "\E6CE"; }

.el-icon-bold-stack:before { content: "\E6CF"; }

.el-icon-bold2-stack:before { content: "\E6D0"; }

.el-icon-boldr-stack:before { content: "\E6D1"; }

.el-icon-tmpl-add:before { content: "\E6D2"; }

.el-icon-note-item2:before { content: "\E6D3"; }

.el-icon-circle-xr-angle:before { content: "\E6D4"; }

.el-icon-circle-xl-angle:before { content: "\E6D5"; }

.el-icon-dbarrow:before { content: "\E6D6"; }

.el-icon-timex:before { content: "\E6D7"; }

.el-icon-move:before { content: "\E6D8"; }

.el-icon-ntsearch:before { content: "\E6D9"; }

.el-icon-msgbell:before { content: "\E6DA"; }

.el-icon-loading {
  animation: rotating 1s linear infinite;
}

.el-icon--right {
  margin-left: 5px;
}
.el-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
